body {
  color: white;
  background-color: black;
}
.subDiv {
  height: 77px;
  width: 200px;
  border-radius: 15px;
  background-color: #146d83;
}
#mainDiv {
  height: 520px;
  width: 333px;
  background-color: #0084ffab;
  border-radius: 22px;

}
.br {
  height: 1px;
}
#coder {
  font-size: xx-small;
}
select, input {
  height: 25px;
  background-color: #daff09a2;
}
h5 {
  font-size:18px ;
}
button {
  height: 30px;
  width: 60px;
}